.authentication {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.authentication-form{
    width: 300px;
    
}
.card {
    box-shadow: 0 0 2px rgb(46, 45, 45);
    border-radius: 0 !important;
}
.card-title{
    font-size: 30;
    font-weight: bold;
}
.primary-button {
    position: absolute;
    top:50%;
    background-color:#104a85 !important;
    color: rgb(255, 255, 255) !important;
    width: 100% !important;
    font-size: 15px !important;
    
    
}

.anchor{
    color: rgb(241, 35, 35);
    text-decoration: underline;
    font-size: 15 !important;
}